src/__pycache__/*

src/code/SW/__pycache__/*

src/code/ML/*.dylib

src/code/ML/*.so

src/code/UI/*.dylib

src/code/UI/*.so

src/code/TESTING_UI/*.dylib

src/code/TESTING_UI/*.so

.DS_store

src/.DS_store

src/*.jpg

src/output_split/*

src/output_split

src/code/UI/__pycache__

src/code/UI/*.jpg
